/* ================================================= INICIO-BLOCO-ESTILO-GERAL ==========================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: #5c5c5c #2e2e2e;
  font-family: "Montserrat", sans-serif;
}

body {
  background-size: cover;
  background-position: center;
}
.erro {
  background-size: cover;
  background-position: center;
}
.interface {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

h2.titulo {
  color: #f5fffa;
  font-size: 38px;
  text-align: center;
}

h2.titulo span {
  color: #5a897c;
}
/* ================================================= FIM-BLOCO-ESTILO-GERAL =============================================================*/

/* ============================================= INICIO-BLOCO-ESTILO-MENU-DESKTOP =======================================================*/
header {
  /* background-color: #2e2e; */
  padding: 0px 30px;
}

header .interface {
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
}

header a {
  color: #5a897c;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header nav ul li a:hover {
  color: #ececec;
  transform: scale(1.04);
  background-color: none;
}

header nav ul {
  list-style: none;
}

header nav.menuDesktop li {
  display: inline-block;
  margin: 0 20px;
  text-transform: capitalize;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 10px;
  font-weight: 500;
  position: relative;
}
/* ============================================== FIM-BLOCO-ESTILO-MENU-DESKTOP =========================================================*/
/* ============================================== INICIO-BLOCO-ESTILO-MENU-MOBILE =======================================================*/

/* ============================================== FIM-BLOCO-ESTILO-MENU-MOBILE ==========================================================*/

/* ============================================== INICIO-BLOCO-ESTILO-FORMULÁRIO ========================================================*/
#formulario {
  padding: 80px 4%;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input,
form textarea {
  width: 100%;
  background-color: #2e2e2e;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #f5fffa;
  font-size: 18px;
}

form textarea {
  resize: none;
  max-height: 200px;
}

form .enviar {
  margin-top: 20px;
  text-align: center;
}

form .enviar input {
  width: 120px;
  background-color: #5a897c;
  color: #f5fffa;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
/* ============================================== FIM-BLOCO-ESTILO-FORMULÁRIO =========================================================*/

/* ============================================== INICIO-BLOCO-ESTILO-RODAPE =========================================================*/
footer {
  padding: 40px 4%;
  box-shadow: 0 0 20px 12px #5a897c;
  background-color: #2e2e2e;
  color: #f5fffa;
}

footer .footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

footer .socialLinks bottun {
  display: flex;
  align-items: center;
}

footer .socialLinks a {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #5a897c;
  font-size: 24px;
  color: #f5fffa;
  text-align: center;
  line-height: 60px;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

footer .socialLinks a:hover {
  background-color: #367b6e;
}

footer .footerContact {
  text-align: center;
  padding: 20px 0;
}

footer .footerContact p i {
  font-size: 24px;
  color: #5a897c;
  margin-right: 5px;
}

footer .footerContact p a {
  font-size: 20px;
  color: #f5fffa;
  text-decoration: none;
}

footer .footerContact p a:hover {
  text-decoration: underline;
}

.footerLinke {
  color: #f5fffa;
  text-decoration: none;
}
/* ============================================== FIM-BLOCO-ESTILO-RODAPE =========================================================*/
