/* BlocoEstiloGeral*/
*{
    font-family: "JetBrains Mono", monospace;
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #161616;
    height: 100vh;

}

.interface{
    max-width:1280;
    margin: 0 auto;
}

.flex{
    display:flex;
}

/* BlocoEstiloCabeçalho*/
header{
    padding: 40px;
}

header .interface{
    display:flex;
    align-items:center;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: rgb(90, 137, 124) 0px 0px 40px 12px;
}

header h1{
  margin-left: 40px;
}

header a{
    color:#5a897c;
    text-decoration: none;
    display: inline-block;
    transition:.2s;
}

header nav ul li a:hover{
    box-shadow: rgb(90, 137, 124) 0px 0px 40px 12px;
    color: #ffffff;
    transform: scale(1.04);
    background-color: none;
}


header nav ul{
    list-style-type: none;
}

header nav li{
   display: inline-block;
   padding: 0 40px;
   font-size: 24px;
}


.lrrsouzaContato button{
padding: 10px 40px;
font-size: 18px;
font-weight: 600;
background-color:#5a897c;
border: 0;
border-radius:30px;
cursor: pointer;
}

.lrrsouzaContato button:hover{
    box-shadow: 0px 0px 8px;
    transition:.2s;
    transform: scale(1.02);
}

/* BlocoEstiloTopo*/

section.topo-do-site{
    padding: 30px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap:90px;
}

.topo-do-site h1{
    color: #ffffff;
    font-size: 40px;
    line-height: 40px;
}

.topo-do-site h2{
    color: #ffffff;
    font-size: 22px;
    line-height: 40px;
}

.topo-do-site h3{
    color: #ffffff;
    margin: 40px 0;
    font-size: 30px;
    line-height: 45px;

}

.topo-do-site .txt-topo-site span{
    color:#5a897c;
}

.topo-do-site .txt-topo-site p{
    font-size: 20px;
    color: #ffffff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    box-shadow: rgb(90, 137, 124) 0px 0px 40px 12px

}

@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top: 30px;
    }
}

/* BlocoEstiloRodapé*/

footer {
    padding: 35px 4%;
    box-shadow: 0 0 40px 12px #5a897c;
    background-color: #1a1a1a;
    color: #ffffff;
  }
  
  footer .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  footer .footerContent {
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  footer .footerLogo img {
    max-width: 150px;
  }
  
  footer .socialLinks bottun{
    display: flex;
    align-items: center;
  }
  
  footer .socialLinks a {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #5a897c;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
  }
  
  footer .socialLinks a:hover {
    background-color: #367b6e;
  }
  
  footer .footerContact {
    text-align: center;
    padding: 20px 0;
  }
  

  footer .footerContact p i {
    font-size: 24px;
    color: #5a897c;
    margin-right: 5px;
  }
  
  footer .footerContact p a {
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
  }
  
  footer .footerContact p a:hover {
    text-decoration: underline;
  }

  .footerLinke{
    color: #ffffff;
    text-decoration: none;
  }