/* BlocoEstiloGeral*/
*{
    font-family: "JetBrains Mono", monospace;
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #161616;
    height: 100vh;

}

.interface{
    max-width:1280;
    margin: 0 auto;
}

.flex{
    display:flex;
}


/* BlocoEstiloCabeçalho*/
header{
    padding: 40px 4%;
}

.logoPrincipal img{
    max-width: 400px;
}


header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color:#5a897c;
    text-decoration: none;
    display: inline-block;
    transition:.2s;

}

header nav ul li a:hover{
    color: #ffffff;
    transform: scale(1.04);
}


header nav ul{
    list-style-type: none;
}

header nav li{
   display: inline-block;
   padding: 0 40px;
   font-size: 24px;
}


.lrrsouzaContato button{
padding: 10px 40px;
font-size: 18px;
font-weight: 600;
background-color:#5a897c;
border: 0;
border-radius:30px;
cursor: pointer;

}

.lrrsouzaContato button:hover{
    box-shadow: 0px 0px 8px;
    transition:.2s;
    transform: scale(1.02);
}

/* BlocoEstiloTopo*/

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap:90px;
}

.topo-do-site h1{
    color: #ffffff;
    font-size: 45px;
    line-height: 45px;
}

.topo-do-site .txt-topo-site h1 span{
    color:#5a897c;
}

.topo-do-site .txt-topo-site p{
    color: #ffffff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top: 30px;
    }
}
